<div class="container">
  <app-navbar></app-navbar>

  <div class="filler1"></div>

  <div class="inner">
    <div class="filler2"></div>
    <div class="slide">

        <div class="slide__img" ></div>

      <div class="slide__title-wrap">
        <h3 class="slide__title"><div class="slide__box"></div><span class="slide__title-inner">Audit, Ingénierie</span></h3>
        <h4 class="slide__subtitle"><div class="slide__box"></div><span class="slide__subtitle-inner">& Conseil</span></h4>
        <a class="slide__explore" routerLink="/home" fragment="presentationBox"><span class="slide__explore-inner">Explorer</span></a>
      </div>
    </div>
    <div class="filler4"></div>
  </div>
  <div class="filler5"></div>

</div>

