<div class="container">
  <div class="menu">
    <a><button class="btn btn--menu"><svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg></button></a>
    <svg class="hidden">
      <symbol id="icon-arrow" viewBox="0 0 24 24">
        <title>arrow</title>
        <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
      </symbol>
      <symbol id="icon-menu" viewBox="0 0 17.6 9.9">
        <title>menu</title>
        <path d="M17.6,1H0V0h17.6V1z M17.6,4.3h-12v1h12V4.3z M17.6,8.9h-6.9v1h6.9V8.9z"/>
      </symbol>
      <symbol id="icon-cross" viewBox="0 0 10.2 10.2">
        <title>cross</title>
        <path d="M5.8,5.1l4.4,4.4l-0.7,0.7L5.1,5.8l-4.4,4.4L0,9.5l4.4-4.4L0,0.7L0.7,0l4.4,4.4L9.5,0l0.7,0.7L5.8,5.1z"/>
      </symbol>
    </svg>
  </div>

  <div class="filler1"></div>

  <div class="inner">
    <div class="filler2"></div>
    <div class="slide">

        <div class="slide__img" ></div>

      <div class="slide__title-wrap">
        <h3 class="slide__title"><div class="slide__box"></div><span class="slide__title-inner">Audit, Ingénierie</span></h3>
        <h4 class="slide__subtitle"><div class="slide__box"></div><span class="slide__subtitle-inner">& Conseil</span></h4>
        <a class="slide__explore" routerLink="/home" fragment="presentationBox"><span class="slide__explore-inner">Explorer</span></a>
      </div>
    </div>
    <div class="filler4"></div>
  </div>
  <div class="filler5"></div>

</div>

