footer {
  background-color: #50566d;
  width: 100%;

  bottom: 0;
  clear: both;
  position: relative;
  z-index: 10;
  height: 4em;
  margin-top: 3em;
}

#copyr {
  color: white;
}

#3p {
  color: #017155;
}

#text {
  font-size: 15px;
  width: 250px;
  padding: 20px 0 0 75px;
  float: left;
}

#links {
  float: right;
  width: 250px;
  padding: 20px 75px 0 0;
}

i {
  margin-left: 6px;
}
