 <div class="menu">
    <button class="btn btn--menu" (click)="onToggle()">
      <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
    </button>

    <svg class="hidden">
      <symbol id="icon-menu" viewBox="0 0 17.6 9.9">
        <title>menu</title>
        <path d="M17.6,1H0V0h17.6V1z M17.6,4.3h-12v1h12V4.3z M17.6,8.9h-6.9v1h6.9V8.9z"/>
      </symbol>
      <symbol id="icon-cross" viewBox="0 0 10.2 10.2">
        <title>cross</title>
        <path d="M5.8,5.1l4.4,4.4l-0.7,0.7L5.1,5.8l-4.4,4.4L0,9.5l4.4-4.4L0,0.7L0.7,0l4.4,4.4L9.5,0l0.7,0.7L5.8,5.1z"/>
      </symbol>
    </svg>
  </div>

  <div class="" *ngIf="show">
    <nav class="menu menu--open">
      <ul class="menu__inner" >
        <li class="menu__item"><a class="menu__link" href="#">Accueil</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Présentation</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Produits</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Références</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
        <li class="menu__item"><a class="btn btn--close" (click)="onToggle()"><svg class="icon icon--menu">
          <use xlink:href="#icon-cross"></use>
        </svg></a></li>
      </ul>
    </nav>

  </div>
