.hidden {
  display: none;
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
}

.btn:focus {
  outline: none;
}

.btn--menu {
  position: absolute;
  top: 1vw;
  right: 2vw;
  color: #939391;
  pointer-events: visible;
}
.btn--up {
  position: absolute;
  top: 3vw;
  right: 2vw;
  color: #939391;
  pointer-events: visible;
}
.btn--down {
  position: absolute;
  top: 5vw;
  right: 2vw;
  color: #939391;
  pointer-events: visible;
}
.btn--top {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  color: #939391;
  pointer-events: visible;
  font-weight: bolder;
  font-size: 2em;
  border: .1em solid #939391;
}

.btn--close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: 0.75em;
  z-index: 100;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35vh;
  z-index: 100;
}

.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: #C2C1C2;
  overflow: hidden;
}

.menu__item {
  padding: 0.15em;
}

.btn--close {
  opacity: 1;
}

.menu--open .menu__item,
.menu--open .btn--close {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu--open .menu__item:nth-child(2) {
  transition-delay: 0.165s;
}

.menu--open .menu__item:nth-child(3) {
  transition-delay: 0.195s;
}

.menu--open .menu__item:nth-child(4) {
  transition-delay: 0.225s;
}

.menu .menu__link {
  font-size: 2vw;
  color: #4f4f54;
  font-weight: bold;
}

.menu .menu__link:hover,
.menu .menu__link:focus {
  outline: none;
  color: #42213D;
  text-decoration: line-through;
}


