.slide__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
  position: absolute;
  top: 5%;
  left: 5%;
  padding-bottom: 5em;
}

.slide__title {
  font-size: 5vw;
  margin: 0 0 0.2rem;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  padding: 0.35rem 0.25rem 0.15rem;
}
.slide__title .slide__box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
}
.slide__title-inner {
  position: relative;
  display: inline-block;
  color: white;
  font-family: Didot, "Didot LT STD", "Bodoni MT", "ltc-bodoni-175", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.container {
  padding: 12rem 0 0;
}

.example-small-box, .example-large-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
