<section>
  <mat-toolbar>
    <h2>Services</h2>
  </mat-toolbar>

  <div class="container">

    <mat-tab-group dynamicHeight>
      <mat-tab *ngFor="let ser of services" label="{{ ser.type }}" >
        <div class="example-large-box mat-elevation-z4">
          <p class="desc">
            {{ ser.desc }}
          </p>
          <h3>{{ ser.title1 }}</h3>
          <p class="par">
            {{ ser.par1 }}
          </p>
          <h3>{{ ser.title2 }}</h3>
          <p class="par">
            {{ ser.par2 }}
          </p>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>

</section>
