h2 {
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'nexa_boldregular', serif;
  font-size: 3vw;
}

mat-toolbar {
  background: #017155;
  height: 5em;
  grid-area: header;
  width: 100%;
}

.container {
  padding: 2rem 0 5rem 0;
}

.example-small-box, .example-large-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
