@font-face {
  font-family: 'nexa_boldregular';
  font-weight: bold;
  font-style: normal;
  src: url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
  src: url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'),
  url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'),
  url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'),
  url('../../assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}

section {
  background-color: #E6E6E6;
  width: 100%;
}


@keyframes loaderAnim {
  to {
    transform: rotate(360deg);
  }
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

/* Deco Shape */
.decoshape {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  fill: var(--background-color-3);
}


.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  pointer-events: none;
}

.content {
  position: relative;
  display: grid;
}


.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 130px 20px 75px 75px;
  grid-template-areas:	"... title title title"
                        "... ... desc desc"
                        "... ... desc desc"
                        "... ... . .";
}


.content__img {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.content__title {
  grid-area: title;
  font-family: 'nexa_boldregular', sans-serif;
  letter-spacing: -0.025em;
  font-size: 3.3em;
  line-height: 40px;
  margin-left: 1.3em;
  text-transform: lowercase;
  z-index: 10;
  cursor: default;
  color: #42213D;
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #ffffff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.content__desc {
  grid-area: desc;
  margin: 0;
  z-index: 10;
  padding: 0 1em;
  cursor: default;
  text-align: justify;
}

.content__img, .content__title, .content__desc {
  transition: transform 0.3s ease-out;
}

/* Different layouts */

/* layout-2 */
.content--layout-2 {
  grid-template-areas:	" title title title ..."
                        "desc desc ... ..."
                        "desc desc ... ..."
                        "... ... . .";
}

.content--layout-2 .content__img {
  grid-column: 3 / 5;
  grid-row: 1 / 5;
}

.content--layout-2 .content__desc {
  text-align: justify;
}
.content--layout-2 .content__title {
  margin-left: 0;
  margin-top: 0.5em;
}

/* layout-3 */
.content--layout-3 {
  grid-template-rows: 75px 75px 20px 200px;
  grid-template-areas:	"... ... desc desc"
                        "... ... . ."
                        "... title title title"
                        "... title title title";
}

.content--layout-3 .content__img {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.content--layout-3 .content__desc {
  align-self: right;
}

.content--layout-3 .content__title {
  font-size: 3.1em;
  margin-top: -1em;
}


/* Demos */
.demos {
  grid-area: demos;
  align-self: end;
}

.demo {
  display: inline-block;
  position: relative;
  font-size: 0.85em;
  margin: 0 0.25em 0.5em 0;
  padding: 1em;
}

.demo .decoshape {
  display: none;
}

.demo--current {
  color: var(--link-hover-color);
  border-color: currentColor;
}

.demo--current .decoshape {
  display: block;
  z-index: -1;
}

/* Demo themes */

.demo-3 {
  --background-color: #56cccf;
  --background-color-2: #41e0e4;
  --background-color-3: #1747c0;
  --text-color: #fff;
  --link-color: #fff;
  --link-hover-color: #17b1b5;
}

.demo-3 .morph {
  fill: none;
  stroke-width: 12px;
  stroke: #22bcc0;
}

@media screen and (max-width: 50em) {
  .content--fixed {
    height: auto;
    min-height: 0;
    display: block;
    z-index: 1000;
    position: absolute;
  }
  .demos {
    text-align: center;
  }
}

@media screen and (max-width: 40em) {
  .content--layout {
    transform: scale3d(0.8,0.8,1);
  }
}

@media screen and (max-width: 36em) {
  .content--layout {
    transform: scale3d(0.7,0.7,1);
  }
}

@media screen and (max-width: 32em) {
  .content--layout {
    transform: scale3d(0.6,0.6,1);
  }

  .content__desc{
    font-size: 1.35em;
  }
}

@media screen and (max-width: 28em) {
  .content--layout {
    transform: scale3d(0.5,0.5,1);
  }
}
