<section>
  <div class="slide__title-wrap">
    <h3 class="slide__title">
      <div class="slide__box"></div>
      <span class="slide__title-inner">Nous contacter</span>
    </h3>
  </div>

<form method="post" action="#" novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()" netlify>

  <div class="bg-light container">

      <mat-form-field>
        <input matInput type="text" name="nom" placeholder="Nom" formControlName="name" required>
        <mat-error *ngIf="( nom.hasError('required') || nom.hasError('minLength') ) && ( nom.touched || nom.dirty )">
          Veuillez entrer un nom
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" name="email" placeholder="E-mail" formControlName="email" required>
        <mat-error *ngIf="( mail.hasError('required') || mail.hasError('email') ) && ( mail.touched || mail.dirty )">
          Veuillez entrer un e-mail valide
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput name="msg" rows="10" placeholder="Message" formControlName="msg" required></textarea>
        <mat-error *ngIf="mesg.hasError('required') && ( mesg.touched || mesg.dirty )">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

    <div class="buttons">
      <button mat-button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
      <button mat-button type="reset">Réintialiser</button>
    </div>

  </div>
</form>

<div class="contactDetails">
  <mat-card>
    <mat-card-title>Tél/Fax :</mat-card-title>
    <mat-card-subtitle>+212 5 37 56 62 22</mat-card-subtitle>
    <mat-card-title>Adresse :</mat-card-title>
    <mat-card-subtitle>Appt 26, centre commercial Cheikh Saif Av. Assanaoubar<br>
      Hay Riad 10100 - Rabat</mat-card-subtitle>
  </mat-card>
</div>

<div id="gmap">

</div>

</section>
