.container {
  margin: 10rem auto 0;
  padding: 1rem 2rem;
  width: 50rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
}

input {

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
