.container {
  padding: 1rem;
  min-width: 30rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 25rem;
  min-height: 20rem;
  max-width: 60rem;
  max-height: 50rem;
  grid-area: form;
}

#gmap {
  width: 20rem;
  height: 20rem;
  grid-area: map;
}

.contactDetails {
  max-width: 20rem;
  max-height: 10rem;
  grid-area: contact-details;
}

section {
  display: grid;
  justify-content: space-around;
  align-items: start;
  grid-template-columns: 0.25fr auto 0.5fr auto .25fr;
  grid-template-rows: 1fr 2fr 0.25fr 2fr;
  grid-template-areas:  "header header header header header"
                        ". form contact-details contact-details ."
                        ". form map map ."
                        ". form map map .";
  grid-gap: 5em;
}

h3 {
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'nexa_boldregular', serif;
  font-size: 3vw;
}

mat-toolbar {
  background: #017155;
  height: 5em;
  grid-area: header;
  width: 100%;
}

mat-card-title {
  color: #42213D;
}

@media screen and (max-width:50em) {

  section {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .5fr .5fr;
    grid-template-areas:  "header"
    "form"
    "contact-details"
    "map";
    grid-gap: 1em;
  }

  h3 {
    font-size: 7vw;
  }
}
