<form novalidate>
  <div class="container">
    <mat-form-field>
      <input matInput type="text" name="nom" placeholder="Nom" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" name="email" placeholder="E-mail" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput name="msg" placeholder="Message"></textarea>
    </mat-form-field>
  <div class="buttons">
    <button mat-button type="submit">Envoyer</button>
    <button mat-button type="reset">Réintialiser</button>
  </div>
  </div>
</form>
