slide {
  padding: 0 2rem;
  background-color: #017155;
  height: 33rem;
}


.container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-flow: row;
}

.slider__caption {
  font-family: 'nexa_boldregular', sans-serif;
  letter-spacing: -0.025em;
  font-size: 3.3em;
  line-height: 40px;
  font-weight: 200;
  padding: 0.5em 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: lowercase;
  color: #42213D;
  margin-bottom: 1rem;
}

.inner {
  grid-area: inner;
  display: grid;
}

.slider__txt {
  color: white;
  max-width: 30vw;
  max-height: 30vw;
  text-align: justify;
  padding: 0 1rem;
}

.slide1title {
  grid-area: title1;
}

.slide2title {
  grid-area: title2;
}

.slide3title {
  grid-area: title3;
}

.slide1txt {
  grid-area: par1;
}
.slide2txt {
  grid-area: par2;
}
.slide3txt {
  grid-area: par3;
}
