
<!--
<div class="slider">
  <input type="radio" name="slider" title="Nos valeurs" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="Nos enjeux" class="slider__nav"/>
  <input type="radio" name="slider" title="Notre stratégie" class="slider__nav"/>
  <div class="slider__inner">




  </div>
</div>
-->
<carousel>
  <slide>
    <div class="text-center py-5">
      <h2 class="slider__caption">nos valeurs</h2>
      <div class="container">
        <div class="lead">
          <h3>{{ valeurs.title1 }}</h3>
          <p class="slider__txt">{{ valeurs.desc1 }}</p>
        </div>
        <div class="lead">
          <h3>{{ valeurs.title2 }}</h3>
          <p class="slider__txt">{{ valeurs.desc2 }}</p>
        </div>
        <div class="lead">
          <h3>{{ valeurs.title3 }}</h3>
          <p class="slider__txt">{{ valeurs.desc3 }}</p>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5">
      <h2 class="slider__caption">nos enjeux</h2>
      <div class="container">
        <div class="lead">
          <h3>{{ enjeux.title1 }}</h3>
          <p class="slider__txt">{{ enjeux.desc1 }}</p>
        </div>
        <div class="lead">
          <h3>{{ enjeux.title2 }}</h3>
          <p class="slider__txt">{{ enjeux.desc2 }}</p>
        </div>
        <div class="lead">
          <h3>{{ enjeux.title3 }}</h3>
          <p class="slider__txt">{{ enjeux.desc3 }}</p>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5">
      <h2 class="slider__caption">notre stratégie</h2>
      <div class="container">
        <div class="lead">
          <h3>{{ strategie.title1 }}</h3>
          <p class="slider__txt">{{ strategie.desc1 }}</p>
        </div>
        <div class="lead">
          <h3>{{ strategie.title2 }}</h3>
          <p class="slider__txt">{{ strategie.desc2 }}</p>
        </div>
        <div class="lead">
          <h3>{{ strategie.title3 }}</h3>
          <p class="slider__txt">{{ strategie.desc3 }}</p>
        </div>
      </div>
    </div>
  </slide>

</carousel>
