section {
  margin: 0 auto;
  width: 62vw;
  display: flex;
}

img {
  margin: 15px;
  max-height: 40px;
}

.conatainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

#jeun {
  margin-left: 5rem;
}


