<section>
  <div class="container">
    <img src="../../assets/img/aeroports.jpg">
    <img src="../../assets/img/casa.png">
    <img src="../../assets/img/cdg.png">
    <img src="../../assets/img/cfr.png">
    <img src="../../assets/img/jnanae_saiss.jpg">
    <img src="../../assets/img/minis_touri.png">
    <img src="../../assets/img/onp.png">
    <img src="../../assets/img/onssa.png">
    <img src="../../assets/img/ormva.png">
    <img src="../../assets/img/ormvad.png">
    <img src="../../assets/img/ormvag.png">
    <img src="../../assets/img/smit.png">


  </div>
</section>

