<section>
  <div class="container">
    <img src="../../assets/img/aeroports.jpg" alt="Office National des Aéroports" title="Office National des Aéroports">
    <img src="../../assets/img/casa.png" alt="Ville de Casablanca" title="Ville de Casablanca">
    <img src="../../assets/img/cdg.png" alt="CDG" title="CDG">
    <img src="../../assets/img/cfr.png" alt="CFR" title="CFR">
    <img src="../../assets/img/jnanae_saiss.jpg" alt="Jnane Saiss" title="Jnane Saiss">
    <img src="../../assets/img/minis_touri.png" alt="Ministère du Tourisme" title="Ministère du Tourisme">
    <img src="../../assets/img/onp.png" alt="ONP" title="ONP">
    <img src="../../assets/img/onssa.png" alt="ONSSA" title="ONSSA">
    <img src="../../assets/img/ormva.png" alt="ORMVA" title="ORMVA">
    <img src="../../assets/img/ormvad.png" alt="ORMVAD" title="ORMVAD">
    <img src="../../assets/img/ormvag.png" alt="ORMVAG" title="ORMVAG">
    <img src="../../assets/img/omrane.png" alt="Al Omrane" title="Al Omrane">
    <img src="../../assets/img/ormvah.jpg" alt="ORMVAH" title="ORMVAH">
    <img src="../../assets/img/smit.png" alt="SMIT" title="SMIT" class="large">
    <img src="../../assets/img/abhbc.jpg" alt="ABHBC" title="ABHBC" class="large">
    <img class="large" src="../../assets/img/min_equip_trans.png" alt="Ministère des équipements et des transports" title="Ministère des équipements et des transports">
    <img class="large" src="../../assets/img/oneep.jpg" alt="ONEEP" title="ONEEP">
    <img src="../../assets/img/min_jeunesse.png" alt="Ministère de la Jeunesse et des Sports" title="Ministère de la Jeunesse et des Sports">
    <img src="../../assets/img/souss.png" alt="Souss Massa" title="Région Sous Massa">
    <img src="../../assets/img/minis_agri.jpg" alt="Ministère de l'Agriculture et de la Pêche Maritime" title="Ministère de l'Agriculture et de la Pêche Maritime">

    <img src="../../assets/img/office_tadla.png" alt="Office Tadla" title="Office régional de mise en valeur agricole du Tadla">
    <img src="../../assets/img/oum_rbia.png" alt="Oum Er Rbia" title="Agence du bassin hydraulique de l'Oum Er Rbia">
    <span  class="filler"> </span>
    <img src="../../assets/img/radeema.png" alt="RADEEMA" title="RADEEMA">
    <img src="../../assets/img/fm5.jpg" alt="FM5" title="FM5">
  </div>
</section>

