@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
section {
  margin: 0 auto;
  height: 100%;
}

.container {
  padding: 12rem 0 0;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,12rem);
  grid-auto-rows: minmax(6rem,auto);
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
}

 h2 {
   font-size: 5vw;
   margin: 0 0 0.2rem;
   font-weight: normal;
   line-height: 1;
   white-space: nowrap;
   position: relative;
   overflow: hidden;
   padding: 0.35rem 0.25rem 0.15rem;
}

h3 {
  position: relative;
  display: inline-block;
  color: white;
  font-family: 'nexa_boldregular', serif;
  font-size: 3vw;
}

mat-toolbar {
  background: #017155;
  height: 5em;
  grid-area: header;
  width: 100%;
}

.grid p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}


.btn-back {
  font-size: 2em;
  line-height: 2;
  z-index: 100;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  border: 2px solid #c6c9cf;
  background: none;
}

.btn-back:focus {
  outline: none;
}

.content__title {
  font-size: 7vw;
  line-height: 0.85;
  margin: 0;
}
