.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

section {
  padding: 2rem;
}

mat-card {
  width: 16rem;
  height: 25rem;
  flex: 1;
  margin: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-flow: column nowrap;
}

mat-card-content {
  min-width: 15rem;
  flex: 1;
  padding: 0.25em 0.3em 0;
  font-family: 'nexa_boldregular', sans-serif;
  text-align: center;
}

img {
  max-width: 18em;
  margin-bottom: 1rem;
  text-align: center;
}

.inner {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin: 1rem auto;
  text-align: center;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}


p {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: justify;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'nexa_boldregular', sans-serif;
}

h2 {
  font-family: 'nexa_boldregular', sans-serif;
  letter-spacing: -0.025em;
  font-size: 3.3em;
  line-height: 40px;
  font-weight: 200;
  padding: 0.5em 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: lowercase;
  color: #000000;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'nexa_boldregular', sans-serif;
  font-size: 2em;
}

@media only screen and (min-width: 37.50em) {
  mat-card {
    max-width: calc(50% - 20px);
  }
}

@media only screen and (min-width: 75em) {
  mat-card {
    width: calc(33.33333% - 20px);
  }
}
