<section class="conatainer">

    <h2>Nos Services</h2>
    <div class="inner">
      <mat-card *ngFor="let service of services3p">
        <img src="{{ service.img }}" mat-card-image>

        <mat-card-content>

            <mat-card-title>
              <h3>{{ service.type | uppercase }}</h3>
            </mat-card-title>

          <p>{{ service.phrase }}</p>

        </mat-card-content>

        <mat-card-actions>
          <button mat-button>En savoir +</button>
        </mat-card-actions>
      </mat-card>
    </div>

</section>
