<section>
  <div class="container">
    <h2>Nos services</h2>
    <div class="inner">
      <div class="ser1">
        <img src="../../assets/img/audit.png">
        <h4>Audit</h4>
        <p>"Toute notre expertise à votre service"</p>
      </div>
      <div class="ser1">
        <img src="../../assets/img/support.png">
        <h4>Assistance technique</h4>
        <p>“Quelles que soient vos besoins, notre équipe est toujours là pour vous épauler”</p>
      </div>
      <div class="ser1">
        <img src="../../assets/img/support.png">
        <h4>Assistance technique aux collectivités territoriales</h4>
        <p></p>
      </div>
    </div>
  </div>
</section>
